<div>
    <template id="left">
        <div class="arrow">
            <- </div>
    </template>

    <template id="right">
        <div class="arrow">
            -> </div>
    </template>

    <!-- <template id="card">
        <div>
            <img src="{{DYNAMIC_IMAGE}}" />
            {{ DYNAMIC_TEXT3 }}
        </div>
    </template> -->

    <template id="slider">
        <div class="slider">
            {{{ left }}}

            {{{ cards }}}

            {{{ right }}}
        </div>
    </template>

    <template id="slide">
        <div class="slide">
            {{title}}
            <a style="text-decoration: underline" href="{{link}}">Learn more</a>
        </div>
    </template>

    <style>
        .wrapper {
            position: relative;
            height: 300px;
        }

        .slide {
            background-image: url({{background}});
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            position: absolute;
            text-align: center;
        }

        .slider {
            display: flex;
            justify-content: space-between;
        }

        .userphoto,
        .username,
        .arrow {
            position: relative;
            z-index: 10;
        }

        .username {
            display: flex;
            flex-direction: column;
            color: black
        }

        .card .desc {
            display: none;
        }

        .card {
            @media() {}

            height: 100px;
        }

        .card.active {
            height: 300px;
        }
    </style>

    <div class="wrapper">

        {{{slide}}}

        <div class="username">
            <div>{{username}}</div>
        </div>

        <div style="display: flex; flex-direction: column; color: black">
            <div class="userphoto">
                <img src={{userphoto}} alt="userphoto" style="height: 32px; border-radius: 50%;" />
            </div>

        </div>

        <!-- Handlebars HTML-escapes values wrapped in double moustages. 
            If you don't want Handlebars to escape a value, 
            use the "triple-stash"  -->
        {{{ slider }}}

    </div>

</div>